@import "./fonts.scss";
@import "./layout.scss";

#home-background {
  margin: 0;
  padding: 0;
  // z-index: 1;
}

#home-background, #home-background li {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#home-background-image {
  background-image: url('/assets/images/Molly_Alex_110.jpg');
}

.countdown-container {
  height:90vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.countdown {
  z-index: 1;
  text-align: center;
  color: white;
  align-self: flex-end;
}

.countdown-number {
  font-family: "JosefinSlab", serif;
  font-size: 44px;
}

.countdown-label {
  font-family: "JosefinSlab", serif;
  font-size: 16px;
}

.cb-image {
  margin-top: 50px;
  max-height: 130.55px;
  max-width: 390px;
}

.target-image {
  margin-top: 78px;
  max-height: 130.55px;
  max-width: 390px;
}

.about-image {
  padding-top: 50px;
  padding-bottom: 20px;
}

.about-us-header {
  text-align: center;
}

.about-us-text {
  word-wrap: break-word;
  text-align: left;
  padding-top: 10px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-110 {
  margin-top: 110px;
}

.party-image-container {
  padding-top: 25px;
  margin-bottom: 25px;
}

.party-image {
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
}

.gallery-overlay {
  display: block;
  z-index: 2000;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gallery {
  display: block;
  position: fixed;
  overflow: hidden;
  overflow-x: hidden;
  top: 10vh;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  text-align: center;
}

.gallery-closeTarget {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gallery-media {
  line-height: 0;
  overflow: hidden;
  position: relative;
  text-align: center;

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.icon--large {
  font-size: 21px;
  line-height: 1;
}

.icon {
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  position: relative;
}

.enabled {
  opacity: .3;
}

.thumbnail:hover {
  cursor: pointer;
}

.photo-container {
  padding-top: 50px;
}

.left-arrow {
  z-index: 9999;
  color: lightgrey;
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 25px;
}

.arrow:hover {
  cursor: pointer;
  color: white;
}


.right-arrow {
  z-index: 9999;
  color: lightgrey;
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 25px;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}
