extends page

block maincontent
  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        .about-image
          img(src='/assets/images/Molly_Alex_014.jpg', class='img img-responsive')
    .row
      .col-md-8.col-md-offset-2
        .col-md-6
          .about-us-header
            h4 Molly
          .about-us-text
            p Thinking back about how I met Molly, I am truly amazed at how we got to where we are today. Who knew that two high school kids that couldn’t even drive yet would end up getting married 10 years later. A lot has changed over the 10 years since I met Molly: we broke up after I graduated high school so I could be a ‘cool college kid’ (turns out that was a terrible idea), we started talking again because of a misunderstanding by one of her friends 3 years later (thank you whoever you are), we somehow managed to survive a long distance relationship for 2 years (never again), and we bought a dog (love you Moose). I can tell you one thing though, I would not be the person I am today if I did not have her in my life.
          .about-us-text
            p When she’s not kicking butt in nursing school or saving lives as a nurse intern, Molly spends her time being an all around amazing woman. She’s a fantastic chef and her baking is incredible. I couldn’t ask for a better Euchre partner though I’m surprised she's kept me around this long after the number of times I’ve trumped her ace. She told me that we needed a dog and I thought she was crazy, that turned out to be one of the best decisions I’ve ever made (second to asking Molly to marry me of course). She’s also the most thoughtful and caring person I know, one time she surprised me with coffee and beer just because I did well in a job interview. You can’t not marry someone after they surprise you with two of the best things on the planet.
          .about-us-text
            p Did I mention that Molly makes me a better person? Who knows where I would be today had we not gone on our second first date. Oh yeah, I know, I wouldn’t be madly in love with the woman of my dreams that I cannot wait to spend the rest of my life with. I also wouldn’t know that apples, cinnamon, and applesauce are three of the best things you can combine in your morning oatmeal. Oatmeal I could probably live without, Molly I could not. I love her more than I can express in words, and I always will.
        .col-md-6
          .about-us-header
            h4 Alex
          .about-us-text
            p dlajkdlksjdlkasddsfjsdoifusodifuosidufiosdufiosudifousdoifusdoifusoidufopiufpoIUFOsidufpoisdufposidufposidufposidufpdasdasdasdalksdjfl;kajsdfl;ksjdfl;kasjdfl;ksajdfl;kajsfl;kjsdfl;ksdjfal;ksjdfl;kjdfl;ksdjfkl;sdjf
    .row
      .col-md-8.col-md-offset-2
        .about-us-header
          h3 The Wedding Party
        .col-md-6
          .about-us-header
            h4 Mary Catherine DiGiacinto (Maid of honor)
        .col-md-6
          .party-image
            img(src='/assets/images/josh.jpg', class='img img-responsive')
          .about-us-header
            h4 Josh Munda (Best man)
          .about-us-text
            p Josh is Alex's younger brother. kjsadka asjdh asdhkja dkjhj hajsdhjhjkdh ajsdhkajhsd ajsdhjk asdhasd jkajdh asjhajkshdkja kdasjhsahd jahsdj hajksdh jkhsjkdhakjhd k hasjdhj hjs hj.
          .party-image
            img(src='/assets/images/jake.jpg', class='img img-responsive')
          .about-us-header
            h4 Jake Rush (Groomsman)
          .about-us-text
            p Josh is Alex's younger brother. kjsadka asjdh asdhkja dkjhj hajsdhjhjkdh ajsdhkajhsd ajsdhjk asdhasd jkajdh asjhajkshdkja kdasjhsahd jahsdj hajksdh jkhsjkdhakjhd k hasjdhj hjs hj.
          .party-image
            img(src='/assets/images/josh.jpg', class='img img-responsive')
          .about-us-header
            h4 Jon DiGiacinto (Groomsman)
          .about-us-text
            p Josh is Alex's younger brother. kjsadka asjdh asdhkja dkjhj hajsdhjhjkdh ajsdhkajhsd ajsdhjk asdhasd jkajdh asjhajkshdkja kdasjhsahd jahsdj hajksdh jkhsjkdhakjhd k hasjdhj hjs hj.
          .party-image
            img(src='/assets/images/josh.jpg', class='img img-responsive')
          .about-us-header
            h4 Geoff DiGiacinto (Groomsman)
          .about-us-text
            p Josh is Alex's younger brother. kjsadka asjdh asdhkja dkjhj hajsdhjhjkdh ajsdhkajhsd ajsdhjk asdhasd jkajdh asjhajkshdkja kdasjhsahd jahsdj hajksdh jkhsjkdhakjhd k hasjdhj hjs hj.
