extends page

block maincontent
  .container.accommodations-container
    .row
      .col-sm-8.col-sm-offset-2
        .col-sm-12.text-center
          h2 Accommodations
    .row
      .col-sm-8.col-sm-offset-2
        .col-sm-12
          h3.text-center The Raphael
          h4.text-center 325 Ward Parkway, Kansas City, MO 64112
          ul.accommodations-list
            li Located on the Country Club Plaza
            li Suite Style (living room with queen hide-away and separate bedroom)
            li Free internet and parking
            li Centrally located (approximately halfway between the church and reception)
            li Wedding party will be staying here
            li Nightly Rate is $189
            li To book, contact Christina Wince (816.997.9237) concerning the Munda/DiGiacinto wedding
    .row
      .col-sm-8.col-sm-offset-2
        .col-sm-12
            h3.text-center Embassy Suites Olathe
            h4.text-center 10401 S. Ridgeview Road, Olathe, KS 66061
            ul.accommodations-list
              li Suite Style (living room with queen hide-away and separate bed room)
              li Free internet and parking
              li Free breakfast
              li Indoor pool
              li Nightly Rate is $139
              li When booking please use the three-letter code&nbsp;
                b DMW
                | &nbsp;to make reservations online at&nbsp
                a(href= 'http://www.kansascityolathe.embassysuites.com', target='blank') embassysuites.com
                | ; through Hilton Reservations at 800.362.2779; or the hotel directly at 913.353.9280
