extends page

block maincontent
  ul#home-background.home-background
    li#home-background-image
    li Alex and Molly - October 28, 2017. Leawood, KS
  .page-content#elm-container

block append scripts
  script.
    window.alexandmolly.main.Countdown(document.getElementById('elm-container'))
