extends page

block maincontent
  header
    h1= title

  p ProximaNova
  //- .page-content#elm-container

//- block append scripts
//-   script.
//-     window.alexandmolly.main.RsvpComponent(document.getElementById('elm-container'))
