extends layout

block content
  #page-container
    // include ./includes/sidebar.jade
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navigationbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only
              Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class='navbar-brand', href='/') Molly & Alex
        #navigationbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/about') About
            li
              a(href='/registry') Registry
            li
              a(href='/photos') Photos
            //- li
            //-   a(href='/rsvp') RSVP


    #main-container
      block maincontent
