extends page

block maincontent
  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        .col-md-6
          .cb-image
            a(href='http://www.crateandbarrel.com/gift-registry/molly-digiacinto-and-alex-munda/r5608283', target='blank')
              img(src='/assets/images/cb-registrylogo.jpg', class='img img-responsive')
        .col-md-6
          .target-image
            a(href='https://www-secure.target.com/gift-registry/giftgiver?registryId=dc1b4a27a9354369ad7331f8074b7985&registryType=wedding#1', target='blank')
              img(src='/assets/images/target-logo.png', class='img img-responsive')
